body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
}

.app {
  text-align: center;
}

.app-header {
  color: #fff;
  padding: 1em;
  background-color: #254e70;
}

/* @media (max-width: 350px) {
  .app-header {
    height: 20vh;
  }
} */

/* @media (min-width: 1200px) {
  .app-header {
    height: 20vh;
    background-color: rgb(15, 15, 75);
    color: white;
  }
} */
