body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.app {
  text-align: center;
}

.app-header {
  color: #fff;
  font-style: oblique;
  padding: 1em;
  background-color: #254e70;
}

.content-body {
  height: auto;
}

.searchWraper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  height: 45%;
}

.video-input {
  border: 1px solid #254e70;
  outline: none;
  font-size: inherit;
  padding: 0.5em;
  border-radius: 0.2em;
}

.video-input:focus {
  border-color: rgb(8, 68, 98);
  box-shadow: 0 0 5px 0 rgb(5, 84, 124);
}

.style-label {
  display: inline-block;
}

.video-searchWraper {
  display: flex;
  margin-bottom: 2.75rem;
  justify-content: center;
  align-items: center;
}

.input {
  margin-left: 1rem;
}

.addvideo-wrapper {
  margin-top: 1rem;
}

* > .video-add {
  margin-top: 1rem;
}


.btn-video {
  display: flex;
  width: 100%;
  padding: 0.5em 1em;
  margin-top: 1rem;
  gap: 20px;
  justify-content: center;
}

.btn {
  border: 1px solid;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 0.3em;
}

.btn.btn-warning {
  background-color: hsl(45, 100%, 51%);
  border-color: hsl(45, 100%, 47%);
  color: black;
}

.btn.btn-warning:hover,
.btn.btn-warning:focus {
  background-color: hsl(45, 100%, 45%);
  box-shadow: 0 0 5px 0 hsl(45, 100%, 45%);
}

.btn.btn-danger {
  background-color: hsl(354.3, 70%, 54%);
  border-color: hsl(354.3, 70%, 49%);
  color: white;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus {
  background-color: hsl(354.3, 70%, 47%);
  box-shadow: 0 0 5px 0 hsl(354.3, 70%, 43%);
}



/* @media (max-width: 350px) {
  .app-header {
    height: 20vh;
  }
} */

/* @media (min-width: 1200px) {
  .app-header {
    height: 20vh;
    background-color: rgb(15, 15, 75);
    color: white;
  }
} */
